* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #4AB510;
  font-size: 45px;
}

h2 {
  color: #4AB510;
}

h3 {
  color: #4AB510;
}

/**************************************************************** HEADER NAV***********************************************************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

header.sticky {
  padding: 5px 100px;
  background: #4AB510;
}

header.logo {
  position: relative;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 500px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 23px;
}

header ul li a .sticky {
  color: black;
}

/**************************************************************** AND HEADER NAV***********************************************************************/
/***************************************************************** Page d'accueil *********************************************************************/
/********************************************************** SECTION HOME INDEX***********************************************************************/
section.home_index {
  position: absolute;
  padding: 100px;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.home_index .gros_titre {
  margin-top: 300px;
}

section.home_index .illustration_homme {
  margin-left: 210px;
  margin-top: 100px;
}

section.home_index .button_home {
  margin-left: 355px;
}

.myButton {
  background-color: #3e9b0c;
  border-radius: 28px;
  border: 1px solid #4ab510;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4ab510;
}

.myButton:hover {
  background-color: #5cbf2a;
}

.myButton:active {
  position: relative;
  top: 1px;
}

/************************************************************ SECTION AND HOME INDEX***********************************************************************/
/**************************************************************** SECTION MON APPROCHE ********************************************************************/
section.mon_approche {
  position: absolute;
  margin-top: 1000px;
  width: 100%;
}

section.mon_approche h2 {
  font-size: 40px;
  text-align: center;
}

section.mon_approche .sous_titre_approche {
  margin-top: 30px;
  text-align: center;
}

section.mon_approche .colonne_approche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  padding: 0 10% 0 10%;
}

/**************************************************************** SECTION END APPROCHE ********************************************************************/
/******************************************************** SECTION ATELIER ACOMPAGNEMENT *******************************************************************/
.atelier_acompagnement {
  position: absolute;
  margin-top: 1600px;
  width: 100%;
  text-align: center;
}

.atelier_acompagnement .atelier img {
  width: 40%;
}

.atelier_acompagnement .myButton1 {
  background-color: #3e9b0c;
  border-radius: 28px;
  border: 1px solid #4ab510;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4ab510;
}

.atelier_acompagnement .myButton1:hover {
  background-color: #5cbf2a;
}

.atelier_acompagnement .myButton1:active {
  position: relative;
  top: 1px;
}

.atelier_acompagnement .myButton2 {
  background-color: #3e9b0c;
  border-radius: 28px;
  border: 1px solid #4ab510;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4ab510;
}

.atelier_acompagnement .myButton2:hover {
  background-color: #5cbf2a;
}

.atelier_acompagnement .myButton2:active {
  position: relative;
  top: 1px;
}

.atelier_acompagnement .myButton3 {
  background-color: #3e9b0c;
  border-radius: 28px;
  border: 1px solid #4ab510;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4ab510;
}

.atelier_acompagnement .myButton3:hover {
  background-color: #5cbf2a;
}

.atelier_acompagnement .myButton3:active {
  position: relative;
  top: 1px;
}

.atelier_acompagnement .atelier_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5%;
}

/******************************************************** SECTION END ATELIER ACOMPAGNEMENT *******************************************************************/
/******************************************************************* SECTION NEWSLETTER ***********************************************************************/
section.newsletter {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 2300px;
  font-size: 30px;
}

section.newsletter h2 {
  font-size: 40px;
  text-align: center;
}

section.newsletter .sous_titre_newsletter {
  margin-top: 100px;
}

section.newsletter input {
  font-size: 50px;
  border-radius: 30px;
  margin-top: 100px;
}

section.newsletter ::-webkit-input-placeholder {
  font-size: 30px;
}

section.newsletter :-ms-input-placeholder {
  font-size: 30px;
}

section.newsletter ::-ms-input-placeholder {
  font-size: 30px;
}

section.newsletter ::placeholder {
  font-size: 30px;
}

section.newsletter .myButton4 {
  background-color: #3e9b0c;
  border-radius: 28px;
  border: 1px solid #4ab510;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  margin-top: 100px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4ab510;
}

section.newsletter .myButton4:hover {
  background-color: #5cbf2a;
}

section.newsletter .myButton4:active {
  position: relative;
  top: 1px;
}

/******************************************************************* SECTION END NEWSLETTER ***********************************************************************/
/***************************************************************** END Page d'accueil *********************************************************************/
/************************************************************************ Page Marie *******************************************************************************/
/***************************************************************** SECTION MON PARCOURS *******************************************************************************/
section.mon_parcours {
  position: absolute;
  margin-top: 200px;
}

section.mon_parcours h2 {
  font-size: 40px;
  text-align: center;
}

section.mon_parcours .sous_mon_parcours {
  text-align: center;
  margin-top: 20px;
}

section.mon_parcours .mon_parcours_phototext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.mon_parcours .img_mon_parcours img {
  height: 90%;
  padding: 60px 0 0 100px;
}

section.mon_parcours .text_mon_parcours {
  padding: 60px 300px 0 0;
}

/***************************************************************** SECTION END MON PARCOURS *******************************************************************************/
/***************************************************************** SECTION MON EXPERIENCES *******************************************************************************/
section.mon_experiances {
  position: absolute;
  margin-top: 950px;
}

section.mon_experiances h2 {
  font-size: 40px;
  text-align: center;
}

section.mon_experiances .sous_mon_experiences {
  text-align: center;
  margin-top: 20px;
}

section.mon_experiances .mon_experiences_phototext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.mon_experiances .img_mon_experiences img {
  height: 70%;
  padding: 60px 100px 0 100px;
}

section.mon_experiances .text_mon_experiences {
  padding: 60px 0 0 220px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

/***************************************************************** SECTION END MON EXPERIENCES *******************************************************************************/
/******************************************************************************END Page Marie ********************************************************************************/
/*************************************************************************** Page Sophrologue ********************************************************************************/
/********************************************************************** SECTION LA SOPHROLOGIE *******************************************************************************/
section.la_sophrologie {
  position: absolute;
  margin-top: 250px;
  text-align: center;
}

section.la_sophrologie h2 {
  font-size: 40px;
}

section.la_sophrologie .sous_la_sophrologie {
  margin-top: 50px;
}

section.la_sophrologie .text_la_sophrologie {
  margin-top: 50px;
  padding: 0 150px 0 150px;
}

/********************************************************************** END SECTION LA SOPHROLOGIE ***************************************************************************/
/******************************************************************** SECTION MOYEN DE LA SOPHROLOGIE ************************************************************************/
section.moyen_de_la_sophrologie {
  position: absolute;
  margin-top: 580px;
  padding: 10%;
}

section.moyen_de_la_sophrologie h2 {
  font-size: 40px;
  text-align: center;
}

section.moyen_de_la_sophrologie .colonne_la_sophrologie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.moyen_de_la_sophrologie .controle {
  padding: 0 10% 0 0;
}

section.moyen_de_la_sophrologie .musculaire {
  padding: 0 10% 0 0;
}

/******************************************************************* END SECTION MOYEN DE LA SOPHROLOGIE *********************************************************************/
/******************************************************************** SECTION PRINCIPALES INDICATIONS ************************************************************************/
section.principlales_indication {
  position: absolute;
  margin-top: 900px;
  padding: 10%;
  width: 100%;
  text-align: center;
}

section.principlales_indication h2 {
  font-size: 40px;
  text-align: center;
}

section.principlales_indication .image_text_indication {
  margin-top: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.principlales_indication .image_text_indication p {
  margin-top: 25px;
}

/********************************************************************END SECTION PRINCIPALES INDICATIONS *********************************************************************/
/************************************************************************ END Page Sophrologue *******************************************************************************/
/********************************************************************************* Page Ypnose *******************************************************************************/
/***************************************************************************** SECTION HYPNOSE *******************************************************************************/
section.hypnose {
  position: absolute;
  margin-top: 200px;
}

section.hypnose h2 {
  font-size: 40px;
  text-align: center;
}

section.hypnose .image_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  padding: 0 10% 0 10%;
}

section.hypnose .image_text img {
  height: 300px;
  padding: 0 0 0 10%;
}

section.hypnose .image_text p {
  padding: 0 10% 0 10%;
}

/***************************************************************************** END SECTION HYPNOSE *******************************************************************************/
/************************************************************************ SECTION CONSCIENT ET INCONSCIENT ***********************************************************************/
section.conscient_et_inconscient {
  position: absolute;
  margin-top: 650px;
}

section.conscient_et_inconscient h2 {
  font-size: 40px;
  text-align: center;
}

section.conscient_et_inconscient p {
  text-align: center;
  padding: 0 10% 0 10%;
  margin-top: 50px;
}

/********************************************************************** ENDSECTION CONSCIENT ET INCONSCIENT **********************************************************************/
/***************************************************************************** SECTION CHIFFRES **********************************************************************************/
section.chiffres {
  position: absolute;
  margin-top: 1100px;
  width: 100%;
  text-align: center;
}

section.chiffres h2 {
  font-size: 40px;
  text-align: center;
}

section.chiffres .chiffres_phototext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10% 0 10%;
  margin-top: 50px;
}

section.chiffres .chiffres_phototext .text_chiffres {
  margin-top: 150px;
}

/***************************************************************************** END SECTION CHIFFRES *******************************************************************************/
/***************************************************************************** SECTION INDICATIONS **********************************************************************************/
section.indications {
  position: absolute;
  margin-top: 1700px;
  width: 100%;
}

section.indications h2 {
  font-size: 40px;
  text-align: center;
}

section.indications .image_text_indication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  padding: 0 15% 0 15%;
}

section.indications .image_text_indication p {
  margin-top: 10px;
}

/***************************************************************************** END SECTION INDICATIONS **********************************************************************************/
/*********************************************************************************END Page Ypnose *******************************************************************************/
/********************************************************************************* Page Seances *******************************************************************************/
/********************************************************************************* SECTION SEANCES *******************************************************************************/
section.les_seances {
  position: absolute;
  margin-top: 200px;
}

section.les_seances h2 {
  font-size: 40px;
  text-align: center;
}

section.les_seances h3 {
  text-align: center;
  margin-top: 40px;
}

section.les_seances .deroulement {
  text-align: center;
  margin-top: 40px;
  padding: 0 20% 0 20%;
}

section.les_seances .objectif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20% 0 20%;
  margin-top: 40px;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.les_seances .objectif p {
  margin-top: 20px;
}

/*********************************************************************************END SECTION SEANCES *******************************************************************************/
/********************************************************************************* SECTION ACOMPAGNEMENT ****************************************************************************/
section.acompagnement {
  position: absolute;
  margin-top: 750PX;
  width: 100%;
}

section.acompagnement h2 {
  font-size: 40px;
  text-align: center;
}

section.acompagnement h3 {
  text-align: center;
  margin-top: 40px;
}

section.acompagnement p {
  text-align: center;
  margin-top: 40px;
}

section.acompagnement .text_image_acompagnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10% 0 10%;
  margin-top: 5%;
}

section.acompagnement .text_image_acompagnement p {
  padding: 0 10% 0 0;
  margin-top: 9%;
}

section.acompagnement .img_acompagnement {
  margin-right: 10%;
}

/*********************************************************************************END SECTION ACOMPAGNEMENT ****************************************************************************/
/********************************************************************************* SECTION SEANCES SUIVANTES ****************************************************************************/
section.seances_suivantes {
  position: absolute;
  margin-top: 1650px;
  padding: 0 10% 0 10%;
  text-align: center;
}

section.seances_suivantes .sous_seances_suivantes {
  margin-top: 50px;
}

section.seances_suivantes p {
  margin-top: 2%;
}

/******************************************************************************END SECTION SEANCES SUIVANTES ***************************************************************************/
/**************************************************************************************End Page Seances *********************************************************************************/
/**************************************************************************************Page Contact *************************************************************************************/
/************************************************************************************ SECTION FORMULAIRE ********************************************************************************/
.formulaire_de_contact {
  position: absolute;
  margin-top: 15%;
  width: 100%;
  padding: 0 20% 0 20%;
}

.formulaire_de_contact input[type=text],
.formulaire_de_contact input[type=email],
.formulaire_de_contact select,
.formulaire_de_contact textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.formulaire_de_contact .myButton5 {
  background-color: #3e9b0c;
  border-radius: 28px;
  border: 1px solid #4ab510;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  margin-top: 50px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4ab510;
  width: 100%;
}

.formulaire_de_contact .myButton5:hover {
  background-color: #5cbf2a;
}

.formulaire_de_contact .myButton5:active {
  position: relative;
  top: 1px;
}

.formulaire_de_contact .input_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formulaire_de_contact .input_contact .prenom {
  margin-right: 5%;
}

/************************************************************************************END SECTION FORMULAIRE ********************************************************************************/
/************************************************************************************ SECTION INFORMATIONS ********************************************************************************/
section.informations {
  position: absolute;
  margin-top: 900px;
  width: 100%;
}

section.informations h2 {
  font-size: 40px;
  text-align: center;
}

section.informations .informations_phototext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
}

section.informations .informations_phototext .text_informations {
  padding: 0 0 0 20%;
  text-align: center;
}

section.informations .informations_phototext .text_informations p {
  margin-top: 20px;
}

section.informations .informations_phototext img {
  height: 50%;
  margin-left: 10%;
}

section.informations .informations_phototext .myButton6 {
  background-color: #3e9b0c;
  border-radius: 28px;
  border: 1px solid #4ab510;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  margin-top: 50px;
  margin-left: 28%;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4ab510;
}

section.informations .informations_phototext .myButton6:hover {
  background-color: #5cbf2a;
}

section.informations .informations_phototext .myButton6:active {
  position: relative;
  top: 1px;
}

/*********************************************************************************END SECTION INFORMATIONS ****************************************************************************/
/**************************************************************************************END Page Contact *******************************************************************************/
/************************************************************************************Page Message Envoyer *****************************************************************************/
/********************************************************************************* SECTION MESSAGE ENVOYER ****************************************************************************/
section.message_envoyer {
  position: absolute;
  margin-top: 250px;
  text-align: center;
  width: 100%;
}

section.message_envoyer h2 {
  font-size: 60px;
  text-align: center;
}

section.message_envoyer p {
  margin-top: 20px;
  font-size: 50px;
}

section.message_envoyer .message {
  margin-top: 100px;
}

/*********************************************************************************END SECTION MESSAGE ENVOYER **************************************************************************/
/*********************************************************************************END Page Message Envoyer *****************************************************************************/
/******************************************************************************************** FOOTER ***********************************************************************************/
footer {
  background: #4ab510;
  height: 394px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/************************************************************************************** END FOOTER ************************************************************************************/
/*# sourceMappingURL=main.css.map */