* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 200vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;

    &.sticky {
        padding: 5px 100px;
        background: #4AB510;
    }

    &.logo {
        position: relative;
        font-weight: 700;
        color: white;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.6s;
    }

    ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul li {
        position: relative;
        list-style: none;
    }

    ul li a {
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: white;
        letter-spacing: 2px;
        font-weight: 500px;
        transition: 0.6s;
        font-size: 23px;

    }

    ul li a .sticky {
        color: black;
    }
}

footer {
    background: #4ab510;
    height: 394px;
}