* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 200vh;
}

h1 {
    color: #4AB510;
    font-size: 45px;
}

h2 {
    color: #4AB510;
}

h3 {
    color: #4AB510
}

/**************************************************************** HEADER NAV***********************************************************************/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;

    &.sticky {
        padding: 5px 100px;
        background: #4AB510;
    }

    &.logo {
        position: relative;
        font-weight: 700;
        color: white;
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.6s;
    }

    ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul li {
        position: relative;
        list-style: none;
    }

    ul li a {
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: white;
        letter-spacing: 2px;
        font-weight: 500px;
        transition: 0.6s;
        font-size: 23px;

    }

    ul li a .sticky {
        color: black;
    }
}

/**************************************************************** AND HEADER NAV***********************************************************************/



/***************************************************************** Page d'accueil *********************************************************************/



/********************************************************** SECTION HOME INDEX***********************************************************************/

section.home_index {
    position: absolute;
    padding: 100px;
    font-size: 25px;
    display: flex;

    .gros_titre {
        margin-top: 300px;
    }

    .illustration_homme {
        margin-left: 210px;
        margin-top: 100px;
    }

    .button_home {
        margin-left: 355px;
    }
}

.myButton {
    background-color: #3e9b0c;
    border-radius: 28px;
    border: 1px solid #4ab510;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4ab510;

    &:hover {
        background-color: #5cbf2a;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

/************************************************************ SECTION AND HOME INDEX***********************************************************************/

/**************************************************************** SECTION MON APPROCHE ********************************************************************/

section.mon_approche {
    position: absolute;
    margin-top: 1000px;
    width: 100%;



    h2 {
        font-size: 40px;
        text-align: center;
    }

    .sous_titre_approche {
        margin-top: 50px;
        text-align: center;
    }

    .colonne_approche {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        padding: 100px;
        margin-top: 50px;
    }
}

/**************************************************************** SECTION END APPROCHE ********************************************************************/

/******************************************************** SECTION ATELIER ACOMPAGNEMENT *******************************************************************/

.atelier_acompagnement {
    position: absolute;
    margin-top: 1800px;
    width: 100%;
    text-align: center;

    .atelier img {
        width: 40%;
    }

    .myButton1 {
        background-color: #3e9b0c;
        border-radius: 28px;
        border: 1px solid #4ab510;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 16px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #4ab510;

        &:hover {
            background-color: #5cbf2a;
        }

        &:active {
            position: relative;
            top: 1px;
        }
    }

    .myButton2 {
        background-color: #3e9b0c;
        border-radius: 28px;
        border: 1px solid #4ab510;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 16px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #4ab510;

        &:hover {
            background-color: #5cbf2a;
        }

        &:active {
            position: relative;
            top: 1px;
        }
    }

    .myButton3 {
        background-color: #3e9b0c;
        border-radius: 28px;
        border: 1px solid #4ab510;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 16px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #4ab510;

        &:hover {
            background-color: #5cbf2a;
        }

        &:active {
            position: relative;
            top: 1px;
        }
    }

    .atelier_button {

        display: flex;
        justify-content: space-around;
        padding: 5%;
    }
}

/******************************************************** SECTION END ATELIER ACOMPAGNEMENT *******************************************************************/

/******************************************************************* SECTION NEWSLETTER ***********************************************************************/

section.newsletter {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 2700px;
    font-size: 30px;


    h2 {
        font-size: 40px;
        text-align: center;
    }

    .sous_titre_newsletter {
        margin-top: 100px;
    }

    input {
        font-size: 50px;
        border-radius: 30px;
        margin-top: 100px;
    }

    ::placeholder {
        font-size: 30px;
    }

    .myButton4 {
        background-color: #3e9b0c;
        border-radius: 28px;
        border: 1px solid #4ab510;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 16px 31px;
        margin-top: 100px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #4ab510;

        &:hover {
            background-color: #5cbf2a;
        }

        &:active {
            position: relative;
            top: 1px;
        }
    }
}

/******************************************************************* SECTION END NEWSLETTER ***********************************************************************/

/******************************************************************************* FOOTER ***************************************************************************/

footer {
    background: #4ab510;
    height: 394px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 28px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/************************************************************************ END FOOTER *******************************************************************************/


/***************************************************************** END Page d'accueil *********************************************************************/



/************************************************************************ Page Marie *******************************************************************************/


/***************************************************************** SECTION MON PARCOURS *******************************************************************************/


section.mon_parcours {
    position: absolute;
    margin-top: 200px;

    h2 {
        font-size: 40px;
        text-align: center;
    }

    .sous_mon_parcours {
        text-align: center;
        margin-top: 20px;
    }

    .mon_parcours_phototext {
        display: flex;
    }

    .img_mon_parcours img {
        height: 90%;
        padding: 60px 0 0 100px;
    }

    .text_mon_parcours {

        padding: 60px 300px 0 0;
    }

}

/***************************************************************** SECTION END MON PARCOURS *******************************************************************************/


/***************************************************************** SECTION MON EXPERIENCES *******************************************************************************/


section.mon_experiances {
    position: absolute;
    margin-top: 1050px;

    h2 {
        font-size: 40px;
        text-align: center;
    }

    .sous_mon_experiences {
        text-align: center;
        margin-top: 20px;
    }

    .mon_experiences_phototext {
        display: flex;
    }

    .img_mon_experiences img {
        height: 70%;
        padding: 60px 100px 0 100px;
    }

    .text_mon_experiences {
        padding: 60px 0 0 100px;
        align-content: flex-start;
    }
}

/***************************************************************** SECTION END MON EXPERIENCES *******************************************************************************/